@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>File List</h1>
<table class="table">
    <th>File Name</th>
    <th>Modified Time</th>

    @if (Model != null && Model.Files != null)
    {
        @foreach (var file in Model.Files)
        {
            <tr>
                <td><a href="Uploads/@file.Name">@file.Name</a></td>
                <td>@file.LastWriteTime</td>
            </tr>
        }
    }
</table>
